<div id="eventShadow" class="modal hidden" style="background-color:black;opacity:.5;top:0px;left:0px;"></div>

<div id="eventModal" class="fnf-back1 modal hidden" style="top:10px; left:10px;border-radius:5px;overflow:scroll;">
	<div  class="center full" style="border-bottom:1px solid #CCC;">
		<div id="eventHeaderBar" class="table full fixed" style="border-bottom:1px solid #CCC;">
			<div class="row">
				<div class="cell width10" >
					
				</div>
				<div id="eventModalTitle" class="cell width80 center">
					Time Available
				</div>
				<div class="cell width10 clickable" onclick="hideModal(1)" style="color:#00A1CB;padding:5px;">
					Close
				</div>
			</div>
		</div>
		
	</div>

	<table class="width90 offset5 stat2Table" style="margin-top:50px;margin-bottom:10px;">
		<tr>
			<td style="width:50%;">
				<h3 class="h3small" style="margin-top:0px;margin-bottom:0px">Date</h3>
			</td>
			<td style="width:50%;text-align:left;padding-left:10px;">
				<h3 class="h3small" style="margin-top:0px;margin-bottom:0px" >Time</h3>
			</td>
		</tr>
		<tr>
			<td style="width:50%;">
				<span id="eventModal_date"></span>
			</td>
			<td style="width:50%;text-align:left;padding-left:10px;">
				<span id="eventModal_time"></span>
			</td>
		</tr>
	</table>


	<h3 class="h3small stdModalHide fs offset5" style="margin-top:10px;">Friends</h3>

	 <table class="width90 offset5 stat2Table stdModalHide fs" style="margin-bottom:10px;">
		<tr>

			<td style="width:50%;">
				<span id="eventModal_p1">Adre Marie</span>
			</td>
			<td style="width:50%;text-align:left;padding-left:10px;">
				<span id="eventModal_p2">Oleg Uptkin</span>
			</td>
		</tr>
		<tr>
			<td style="width:50%;">
				<span id="eventModal_p3">Obiwan Konobi</span>
			</td>
			<td style="width:50%;text-align:left;padding-left:10px;">
				<span id="eventModal_p4">You</span>
			</td>
		</tr>
	</table>

	<div class="offset5 width90" >

		<h3 class="h3small" style="margin-top:10px;">Notes</h3>

		<span id="eventModal_notes"></span>

		<div id="nm_note" class="stdModalHide">We are very sorry that we could not find some friends for you to grab food with at this time. In order to increase your chances of finding friends to eat with, you can:
			<br><br>
			<ul>
				<li>Add more friends.</li>
				<li>Encourage your close friends to use this app more often.</li>
				<li>Allow more restaurants in your dining preference.</li>
				<li>Allow friends of friends or any ucsd student to eat with you.</li>
			</ul>
		 </div>

		 

	</div>

	

</div>