<div id="step4Screen" class="screen hidden">

<div class="pageBar table">
<div class="row">
<div class="cell clickable" style="width:10%">
<span style="margin-left:5px;" onclick="skip(3)">Back</span>
</div>
<div class="cell center" style="width:80%">
<span style="color:#CCFFCC;">Step 4:</span> When are you free to eat?
</div>
<div class="cell" style="width:10%">
&nbsp;
</div>
</div>
</div>

<div class="fnf-back1">

<table id="walkthroughCalendar" class="mcal full center responsive" style="text-align:center;font-size:small;">

</table>

<div id="walkthroughCalendarHeaderHolder" class="modal mcalHolder" style="top:39px;width:100%;overflow:hidden;height: 58px;">
	<table id="walkthroughCalendarHeader" class="mcal full center responsive" style="text-align:center;font-size:small;background-color:white;">

	</table>
</div>

<div id="walkthroughCalendar_backButton" class="modal fnf-orange-button backIcon backPos clickable" onclick="walkCal.back();"><</div>

<div id="walkthroughCalendar_nextButton" class="modal fnf-orange-button backIcon nextPos clickable" onclick="walkCal.next();">></div>


<script>
var walkCal = new Calendar("walkthroughCalendar", 1, "walkCal");
</script>


	<div class="underBar">
		<div class="row">
			<div class="cell clickable" style="width:10%">
			<span style="margin-left:5px;"><button class="fnf-second-button" onclick="skip(5)">skip</button></span>
			</div>
			<div class="cell center" style="width:80%">

				<div class="bullet"></div>
				<div class="bullet"></div>
				<div class="bullet"></div>
				<div class="filledBullet bullet"></div>

			</div>
			<div class="cell" style="width:10%">
				<button class="fnf-button" style="margin-right:4px;" onclick="skip(5);walkCal.clearServerCalendar();">finish</button>
			</div>
			</div>
		</div>

	</div>
</div>